body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-family: Georgia, serif;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

h1 > span.normal {
  font-weight: normal;
}

h2 > span.normal {
  font-weight: normal;
}

h3 > span.normal {
  font-weight: normal;
}

h4 > span.normal {
  font-weight: normal;
}

h5 > span.normal {
  font-weight: normal;
}

h6 > span.normal {
  font-weight: normal;
}
